<p>The following order has been confirmed by <%= @order.customer.first_name %> <%= @order.customer.last_name %>.

<%= render "trolley.html", trolley: @order.trolley %>

<p>
  The customer is: <%= @order.customer.first_name %> <%= @order.customer.last_name %>
</p>


<%= if @order.is_delivery === true do %>
<p>The order will be delivered at:</p>

<address>
<%= @order.customer.address1 %><br />
<%= @order.customer.address2 %><br />
<%= @order.customer.city %><br />
<%= @order.customer.county %><br />
</address>
<% end %>

<a href="<%= @admin_url %>/orders/confirmed">View confirmed orders</a>
